.board{
    -fx-background-color: white;
    -fx-opacity: 0.5;
    -fx-pref-height: 800;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
    -fx-spacing: 20;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-background-image: url('../img/board.png');
    -fx-background-size: cover
}

.board .horizontal-line {
    -fx-stroke: red;
}