.board{
    -fx-background-color: white;
    -fx-opacity: 0.5;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
    -fx-max-width: 595;
    -fx-max-height: 595;
    -fx-pref-width: 595;
    -fx-pref-height: 595;
}

.tile {
    -fx-min-width: 35;
    -fx-min-height: 35;
    -fx-max-height: 35;
    -fx-max-width: 35;
    -fx-background-color: transparent;
    -fx-border-color: #53539a;

}