.main {
    -fx-spacing: 10;
}

.board{
    -fx-background-color: white;
    -fx-opacity: 0.7;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
    -fx-max-width: 595;
    -fx-max-height: 595;
    -fx-pref-width: 595;
    -fx-pref-height: 595;
}

.setting-container{
    -fx-spacing: 30;
    -fx-padding: 20 10;
    -fx-min-width: 595;
    -fx-min-height: 160;
    -fx-max-width: 595;
    -fx-background-color: white;
    -fx-opacity: 0.6;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
    -fx-alignment : CENTER
}


.tile {
    -fx-min-width: 35;
    -fx-min-height: 35;
    -fx-max-height: 35;
    -fx-max-width: 35;
    -fx-background-color: transparent;
    -fx-border-color: #53539a;
}

.dot {
    -fx-min-width: 20;
    -fx-min-height: 20;
    -fx-max-height: 20;
    -fx-max-width: 20;
    -fx-background-radius: 50 50 50 50;
    -fx-background-color: black;
}

.button{
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
    -fx-padding: 5 5;
    -fx-min-width: 120;
    -fx-min-height: 30;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.label{
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-smoothing-type: lcd;
}

.score-box{
    -fx-alignment: Center;
}

.score-label {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(0, 0, 0);
}