.main{
    -fx-background-color: white;
    -fx-opacity: 0.8;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
    -fx-max-width: 595;
    -fx-max-height: 595;
    -fx-pref-width: 595;
    -fx-pref-height: 595;
    -fx-alignment: center;
    -fx-hgap: 20;
}

.main .help-title{
    -fx-font-size: 19;
    -fx-fill: #7043EF;
    -fx-font-weight: bold;

}

.main .help-text{
    -fx-font-size: 14;
}
